{% extends "cust/base.html" %}
{% load static %}
{% block content %}
  

<h1 class="text-center m-4 text-muted" >Profile Settings</h1>
<div class="edit-grid mb-5">
       
  <img src="{{request.user.profile_pic.url}}" class="profile-img w-50 img-thumbnail rounded " alt="...">
  
  
</div>
<div >
  <h1 class="text-center text-muted"  >{{request.user.username|upper}}</h1>
  <p  class="text-center text-muted" >{{request.user.status}} </p>
 </div>


<div class="m-5">
  <form action="" method="POST" enctype="multipart/form-data">
  {% for field in  form %} {%csrf_token %}
  <div class="mb-3 row">
    <div class="form-label"> {{field.label_tag}}</div>
    
     {{field}}
     {{field.errors}}
    </div>
    {% endfor %}
  </div>
  

<div class="d-flex justify-content-center">
  <input type="submit" class=" my-1 text-info btn  btn-dark mb-5 "  value="Submit">
  </div> 
  </form>
</div>

{% endblock content %}