{% extends "cust/base.html" %}
{% block content %}

<h1 class="m-5 text-muted"> Change Passsword</h1>

<div class="m-5">
  <form action="" method="POST" enctype="multipart/form-data">
  {% for field in  form %} {%csrf_token %}
  <div class="mb-3 row">
    <div class="form-label"> {{field.label_tag}}</div>
    
     {{field}}
     {{field.errors}}
    </div>
    {% endfor %}
 
  

<div class="d-flex justify-content-center">
  <input type="submit" class=" my-1 text-info btn  btn-dark "  value="Submit">
  </div> 
  </form>
</div>
{% endblock content %}
