


    {% extends "auth/login.html" %}




{% block content %}



<div class="l-container d-block p-5" > 

  <div>
    <div class="alert alert-success">
        <h3 class="text-center">
          Password Reset Sent
        </h3>
    </div>
    <p class="text-light">
      We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
      
      <p></p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
      
    </div>
  </div>
{% endblock content %}