
{% extends "cust/base.html" %}
{% load static %}
{% block content %}


      <div class=" ">
        <h1 class=" my-5 text-center text-secondary">ABOUTUS</h1>
       
<p class="mt-3 text-muted"  style="text-indent: 50px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis nisi accusamus error magni mollitia officiis ab quas odio quae unde. Numquam, nemo. Illo maiores laborum ea obcaecati soluta perferendis officiis vel similique numquam laudantium recusandae quibusdam architecto fugit id, dolore ipsum voluptatem dolorem doloremque ratione, labore eveniet accusamus? Hic id minima quae nemo vel aut ea, reiciendis placeat quos nobis porro soluta. Aut laborum corrupti autem labore dolores harum veritatis iusto, explicabo similique delectus nemo libero repudiandae pariatur consequatur error quam sint nesciunt odit officiis accusantium dolorem quasi, inventore voluptates? Consequatur itaque debitis eligendi sed, quas doloribus quisquam blanditiis nesciunt?</p>
     </div>
     {% endblock content %}