{% extends "cust/base.html" %}

{% block content %}


{% if messages %}
{% for message in messages  %}

<div {% if message.tags %}
class="alert  text-center alert-{{message.tags}}"
{% endif %}  >{{message}}</div>
{% endfor %}
  
{% endif %}



<div class="container">
  <h1 class="m-5 text-center alert alert-danger"> Edit User Field</h1>

<div class="m-5">
  <form action="" method="POST" enctype="multipart/form-data" novalidate >
  {% for field in  form %} {%csrf_token %}
  <div class="mb-3 row">
    <div class="form-label"> {{field.label_tag}}</div>
    
     {{field}}
     {{field.errors}}
    </div>
    {% endfor %}
  </div>
  

<div class="d-flex justify-content-center">
  <input type="submit" class=" my-1 text-info btn  btn-dark "  value="Submit">
  </div> 
  </form>
</div>










<h1 class="m-5 text-center  alert alert-danger"> User Kyc Data</h1>


{% if form2 is not None %}
<div class="m-5">
  <form action="" method="POST" enctype="multipart/form-data" novalidate >
  {% for field in  form2 %} {%csrf_token %}
  <div class="mb-3 row">
    <div class="form-label"> {{field.label_tag}}</div>
    
     {{field}}
     {{field.errors}}
    </div>
    {% endfor %}
  </div>
  

<div class="d-flex mb-5 justify-content-center">
  <input type="submit" class=" my-1 text-info btn  btn-dark "  value="Submit">
  </div> 
  </form>
</div>
{% else %}

<h3 class="text-center mb-5 text-muted">No Record Yet</h3>

{% endif %}
</div>






{% endblock content %}